.message-you-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin: 20px;

  .message-you-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(135deg, #51e1c2, #6acee9);
    color: #333;
    padding: 8px 16px;
    border-radius: 16px;
    max-width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm shadow */
    overflow: hidden; /* Tránh hiện tượng shadow bị cắt khi cuộn */

    .message-you-content img {
      max-width: 300px; /* Kích thước tối đa chiều rộng */
      max-height: 200px; /* Kích thước tối đa chiều cao */
      width: auto;
      height: auto;
      border: 2px solid #ddd; /* Đường viền */
      border-radius: 10px; /* Độ cong góc */
      margin-top: 10px;
      margin-right: -30px;
    }

    .message-you-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;

      .message-you-content {
        flex-grow: 1;
      }

      .message-you-content-revoke {
        flex-grow: 1;
        font-style: italic;
      }

      .message-you-more {
        margin-left: 30px;
        margin-right: -30px;
      }
    }

    .message-you-time {
      font-size: 8px;
      color: #777;
      margin-top: 12px;
      white-space: nowrap;
    }
  }


  .message-you-item-revoke {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f0f0f0;
    border: #999999 solid 1px;
    color: #333;
    padding: 8px 16px;
    border-radius: 16px;
    max-width: 70%;
    overflow: hidden; /* Tránh hiện tượng shadow bị cắt khi cuộn */

    .message-you-content img {
      max-width: 300px; /* Kích thước tối đa chiều rộng */
      max-height: 200px; /* Kích thước tối đa chiều cao */
      width: auto;
      height: auto;
      border: 2px solid #ddd; /* Đường viền */
      border-radius: 10px; /* Độ cong góc */
      margin-top: 10px;
      margin-right: -30px;
    }

    .message-you-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;

      .message-you-content {
        flex-grow: 1;
      }

      .message-you-content-revoke {
        flex-grow: 1;
        font-style: italic;
      }
    }

    .message-you-time {
      font-size: 8px;
      color: #777;
      margin-top: 12px;
      white-space: nowrap;
    }
  }


}


