.forgot-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;  
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
      color: #333;
      text-align: center;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #666;
      text-align: center;

    }
  
    form {
      .forgot-password-form-group {
        margin-bottom: 15px;
  
        label {
          display: block;
          font-size: 16px;
          margin-bottom: 5px;
          color: #333;
        }
  
        input {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
  
          &:focus {
            border-color: #3cd9b6;
          }
        }
      }
  
      button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #3cd9b6;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #2db2a1;
        }

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
  