body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.prevent-click-event {
    pointer-events: none;
    /*ngan lay su kien click*/
}

#sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    /* Thêm border bên phải */
}

.group {
    border: 1px solid #ccc;
    /* Thêm border cho mỗi nhóm */
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* Canh giữa các phần tử trong nhóm */
}

.group:hover {
    background-color: #e6e6e6;
    /* Màu nền khi hover */
}

.group-content {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.group-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

#group-icon-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.group-name {
    font-weight: bold;
}

.group-last-message {
    color: #888;
}

#chat {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 90%;
}

#group-info {
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.group-info-members {
    font-weight: 100;
}

#chat-list {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.message-list {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message:hover {
    background-color: #737373;

}

.message-avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

#message-avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {

    padding: 10px;
    max-width: 70%;
}


.message-info {
    font-size: 0.8em;
    color: #888;
}

.sender-message {
    align-self: flex-end;
    /* Đẩy tin nhắn của người gửi sang bên phải */
    background-color: #3a6899;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-left: 200px;
}

.receiver-message {
    align-self: flex-start;
    /* Đẩy tin nhắn của người nhận sang bên trái */
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    margin-right: 200px;
}

#member-list {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    /* Thêm border bên trái */
}

#member-list ul {
    padding-left: 20px;
    /* Thụt lùi danh sách thành viên */
    list-style: none;
    /* Loại bỏ bullet point */
}

.member {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    /* Canh giữa các phần tử trong danh sách thành viên */
    margin-bottom: 10px;
    /* Khoảng cách giữa các thành viên */
}

.member:hover {
    background-color: #e6e6e6;
    /* Màu nền khi hover */
}

.member-avatar {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

#member-avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.member-content {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.member-name {
    font-weight: bold;
}

.member-status {
    font-weight: 100;
}

.online {
    color: green;
}

.offline {
    color: red;
}

#message-input {
    resize: none;
    /* Không cho phép thay đổi kích thước */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 900px);
    /* Độ rộng chiếm toàn bộ phần chat */
}

.chat-input {
    display: flex;
    position: fixed;
    bottom: 0;
    /* Đẩy phần input xuống dưới cùng */
    padding: 10px;
    margin-top: auto;
    width: calc(100% - 20px);
}

/*mau nen cho phan tu duoc chon*/
.selected {
    background-color: lightblue;
    /* Màu nền khi phần tử được chọn */
}

.hidden {
    display: none;
    /* Màu nền khi phần tử được chọn */
}

.selected:hover {
    background-color: lightblue;
    /* Màu nền khi phần tử được chọn */
}

.delete-message {
    background-color: #ff0000;
    /* Màu nền đỏ */
    color: #ffffff;
    /* Màu chữ trắng */
    border: none;
    /* Loại bỏ viền */
    padding: 5px 10px;
    /* Kích thước lề nội dung */
    cursor: pointer;
    /* Biến con trỏ thành hình bàn tay khi di chuột */
    border-radius: 5px;
    /* Bo tròn góc */
}

.delete-message:hover {
    background-color: #cc0000;
    /* Màu nền đỏ đậm khi di chuột */
}