/* SelectUser.css */
.selectUser {
  display: flex;
  align-items: center;
}

.selectUser__select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.selectUser__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectUser__button:hover {
  background-color: #0056b3;
}
