#BASIC
PORT=5000
MONGO_URI=mongodb://localhost:27017/admin?authSource=admin
REDIS_URL=localhost

#JWT
JWT_SECRET=
JWT_EXPIRE=7d

JWT_KEY_SECRET=
JWT_EXPIRE_REFRESH=7d
JWT_EXPIRE_ACCESS=1d

#COOKIE
COOKIE_EXPIRE=1

#MAIL
GOOGLE_MAILER_CLIENT_ID = ''
GOOGLE_MAILER_CLIENT_SECRET = ''
GOOGLE_MAILER_REFRESH_TOKEN = ''
ADMIN_EMAIL_ADDRESS = 'asgy2002@gmail.com'

#AWS IAM
AWS_IAM_USER_KEY=
AWS_IAM_USER_SECRET=

#AWS S3
AWS_BUCKET_REGION=
AWS_BUCKET_NAME=

#ENV
NODE_ENV=development


#TIME ZONE
TIME_ZONE='Asia/Ho_Chi_Minh'


--------------

#DEVELOPMENT
DEVELOPMENT_APP_PORT=5000
DEVELOPMENT_DB_HOST=localhost
DEVELOPMENT_DB_PORT=27001
DEVELOPMENT_DB_NAME=devAsgy

#PRODUCTION
PRODUCTION_APP_PORT=8000
PRODUCTION_DB_HOST=localhost
PRODUCTION_DB_PORT=27001
PRODUCTION_DB_NAME=proAsgy
