.add-group-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 40px; // Thêm padding ở đây
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.add-group-modal-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: solid 1px #ccc;
}

.add-group-modal-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.add-group-modal-group-name {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  &:focus {
    border-color: #3cd9b6;
  }
}

.add-group-modal-friend-list {
  max-height: 300px; // Đặt chiều cao tối đa của danh sách bạn bè
  overflow-y: auto; // Tạo thanh cuộn khi nội dung vượt quá chiều cao tối đa
  padding: 5px;
}

.add-group-modal-friend-item {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  cursor: pointer;

  .friend-avatar-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
  }

  .friend-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .add-group-modal-checkbox {
    margin-right: 10px;
    transform: scale(1.5);
    accent-color: rgb(53, 162, 138);
  }

  .add-group-modal-fullname {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }

  .add-group-modal-username {
    font-size: 14px;
    color: #666;
    margin: 0;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: #f0f0f0;
    transition: background-color 0.2s ease; // Thêm hiệu ứng ease ở đây
  }
}

.add-group-modal-buttons {
  border-top: solid 1px #ccc;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.add-group-modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  width: 40%;
  margin-top: 20px;
}

.create-group-button {
  background-color: #3cd9b6;
  color: #fff;
}

.create-group-button:hover {
  background-color: #36c6a1;
}

.cancel-button {
  background-color: #ddd;
  color: #555;
}

.cancel-button:hover {
  background-color: #ccc;
}
