body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.detail-container {
  width: 20vw;
  height: 100vh;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;

  .detail-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    height: 5%;
    border-bottom: 1px solid #ddd;

    span {
      margin-left: 15px;
    }
  }

  .detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .detail-avatar {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .detail-group-name {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .detail-action-buttons {
      display: flex;

      .detail-item {
        margin-right: 10px;
      }
    }
  }

  .detail-group-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    .detail-icon {
      font-size: 25px;
      margin-right: 10px;
      cursor: pointer;
      transition: transform 0.3s ease; 
      &:hover {
        transform: scale(1.2); /* Scale up on hover */
        transition: transform 0.5s ease; 
      }


      &:last-child {
        margin-right: 0;
      }
    }
  }

  .detail-storage-images,
  .detail-storage-files {
    padding: 10px;
    border-top: 1px solid #ddd;
  }
}
