.listfriends-container {
  height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .listfriend-header {
    height: 10vh;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-left: none;

    .listfriend-icon {
      font-size: 30px;
      margin-right: 10px;
    }

    .listfriend-text {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .listfriend-card {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Thay đổi thành flex-direction: column */
    align-items: flex-start; /* Thay đổi từ space-between thành flex-start */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box shadow */
  }

  .friend-item {
    padding: 10px; /* Thêm padding cho mỗi mục bạn bè */
    border-bottom: 1px solid #ddd; /* Thêm đường kẻ ngăn cách giữa các mục */
    &:last-child {
      border-bottom: none; /* Loại bỏ đường kẻ ngăn cách cho mục cuối cùng */
    }
  }
}
