body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listrequests-container {
  height: 100vh;
  width: 75vw;

  .listrequests-header {
    height: 10vh;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-left: none;

    .listrequests-icon {
      font-size: 30px;
      margin-right: 10px;
    }

    .listrequests-text {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .listrequests-card {
    height: 90vh;
    width: 75vw;
    border: 1px solid #f9f9f9;
    background-color: #fff;
  }
}
