/* Chat.scss */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 55vw;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background-color: #f0f0f0;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: white;
}

.chat-input-with-button {
  display: flex;
  flex-grow: 1;
}

.chat-input {
  flex: 10;
  padding: 12px;
  border: 1px solid #ededed;
  border-radius: 50px 0 0 50px;
  outline: none;
  background-color: #ededed;
}

.chat-button {
  flex: 1;
  padding: 10px;
  border-radius: 0 50px 50px 0; 
  background-color: #3cd9b6;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-button:hover {
  background-color: #169a7d;
}
