.profileContainer {
  width: 20vw; // Chiều rộng của Profile
  float: right; // Để Profile nằm bên phải
  background-color: red;
}

.profileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  height: 5%;
  border-bottom: 1px solid ;
}

.personalInfo {
  display: flex;
  // align-items: center;
  justify-content:center;

  .avatar {
    /* Styles for avatar */
    height: 50px;
    width: 50px; // Gán kích thước tương ứng cho avatar
  }


  .actionButtons {
    display: flex;

    .btn {
      margin-right: 10px; // Khoảng cách giữa các button
    }
  }
}
