/* MessageItem.css */
.messageItem {
    display: flex;
    margin-bottom: 10px;
  }
  
  .messageItem__avatar {
    margin-right: 10px;
  }
  
  .messageItem__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .messageItem__content {
    flex: 1;
  }
  
  .messageItem__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .messageItem__fullName {
    font-weight: bold;
  }
  
  .messageItem__updatedAt {
    color: gray;
    font-size: 12px;
  }
  
  .messageItem__message p {
    margin: 0;
  }
  
  .messageItem__message img {
    max-width: 100%;
    margin-top: 5px;
  }
  